@CHARSET "ISO-8859-1";

.ifskipped{
	background-color: #d6e1c9;
}

th.success,
td.success{
	background-color: #dff0d8;
}

th.error,
td.error{
	background-color: #f2dede;
}

th.warning,
td.warning{
	background-color: #fcf8e3;
}